page-home {
    .scroll-content {
        padding-left: 50px !important;
        h1{
            font-weight: 800;
            margin-top: 30px !important;
            max-width: 240px;
            font-size: 30px;
        }
        .calculator-buttons {
            text-align: center;
            margin-top: 40px;
            button {
                display: block;
                margin: 20px auto 0 auto;
            }
        }
    }
}
