page-home {
  .scroll-content {
    padding: 0 40px 0 40px !important;
    overflow: hidden;
    h1 {
      font-weight: 800;
      margin-top: 30px !important;
      max-width: 240px;
      font-size: 30px;
      z-index: 999;
      position: relative;
    }
    .calculator-buttons {
      text-align: center;
      margin-top: 40px;
      button {
        margin-top: 20px;
        .description {
          font-size: 15px;
          display: block;
          margin-top: 10px;
          font-weight: 100;
          color: $color-placeholder;
        }
        ion-icon {
          align-self: center;
          margin-left: 20px;
        }
      }
    }
    .circle-1,
    .circle-2 {
      z-index: 0;
      border: 10px solid $color-blue;
      border-radius: 1550px;
      width: 300px;
      height: 300px;
      position: absolute;
      opacity: 0.05;
    }
    .circle-1 {
      top: 50%;
      right: 50%;
    }
  }
}
