// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

ion-header::after {
    background-image: none !important;
}

ion-menu {
    ion-title {
        padding-left: 33px;
        margin-top: 24px;
        .toolbar-title {
            font-size: 30px;
            color: rgba(0, 0, 0, .6);
            font-weight: 500;
            font-family: $main-font;
            b {
                color: $color-blue;
            }
        }
    }
    ion-content {
        top: 30px;
        .scroll-content {
            padding-right: 20px;
            h6 {
                padding-left: 25px;
                margin-top: 40px;
                font-size: 15px;
                color: $color-placeholder;
                font-weight: 100;
            }
            button {
                padding-left: 0 !important;
                border-bottom-right-radius: 100px;
                border-top-right-radius: 100px;
                padding-right: 20px;
                margin: 10px 0;
                .item-inner {
                    border-bottom: none !important;
                    ion-label {
                        display: flex;
                        max-height: 50px;
                        align-items: center;
                        padding-left: 25px;
                        font-size: 18px;
                        color: rgb(82, 82, 82);
                        font-weight: 900;
                        img {
                            width: 20px;
                            margin-right: 25px;
                        }
                    }
                }
                .button-effect {
                    background: $color-blue;
                }
            }
            button.active {
                background-color: $color-blue-active-menu !important;
                .item-inner ion-label {
                    color: #222;
                }
            }
        }
    }
}

ion-navbar {
    ion-title {
        font-family: "Circular STD";
    }
    ion-icon, .toolbar-title {
        color: #222 !important;
    }
}

h1, h5, h6, button {
    font-family: $main-font;
}

h1.page-title {
    font-size: 35px;
    font-weight: 600;
    margin-left: 30px;
}

button.btn {
    padding: 20px 25px 20px 25px;
    border-radius: 100px;
    font-size: 20px;
    background: $color-blue;
    color: $color-white;
    box-shadow: 0 3px 3px rgba(0, 0, 0, .15);
    transition: all .1s ease-in-out;
    touch-action: manipulation;
}
button.btn-small {
    padding: 15px 20px 15px 20px;
    border-radius: 100px;
    font-size: 15px;
    background: $color-blue;
    color: $color-white;
    box-shadow: 0 3px 3px rgba(0, 0, 0, .3);
    text-transform: uppercase;
    transition: all .1s ease-in-out;
}
.btn, .btn-small {
    &:active {
        transform: scale(0.97);
        transition: all .1s ease-in-out;
        box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
        background: $color-blue-pressed;
    }
}
a.btn-plain {
    padding: 15px 20px 15px 0;
    font-size: 15px;
    text-transform: uppercase;
    font-family: $main-font;
    color: $color-blue;
}
input, .alert-input {
    width: 100%;
    padding: 20px 15px 20px 15px;
    border-radius: 100px;
    border: 2px solid #a8dbe1;
    background-color: #a8dbe1;
    color: #222;
    font-size: 20px;
    font-family: $main-font;
    transition: border .3s ease-in-out;
    &::placeholder {
        color: $color-placeholder;
    }
    &:focus {
        border: 2px solid $color-blue;
        transition: border .3s ease-in-out;
    }
}
.alert-wrapper {
    border-radius: 20px !important;
    .alert-title, .alert-message {
        font-family: $main-font;
    }
    .alert-message {
        ul {
            padding-left: 0;
            list-style: none;
            margin: 0;
            li {
                margin-bottom: 10px;
                &:last-of-type {
                    margin-bottom: 0;
                }
            }
        }
    }
    .alert-button {
        color: $color-blue;
    }
}
.range-knob, .range-bar-active, .range-pin, .range-pin::before {
    background: $color-blue !important;
}

// ACTION SHEETS
.action-sheet-group {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 21px;
    border-radius: 20px;
}

// TEXT FORMAT
p.text {
    font-family: $main-font;
    color: $color-text;
}