// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

ion-header::after {
    background-image: none !important;
}

ion-navbar {
    ion-title {
        font-family: "Circular STD";
    }
    ion-icon, .toolbar-title {
        color: #222 !important;
    }
}

h1, h5, h6, button {
    font-family: $main-font;
}

button.btn {
    padding: 20px 25px 20px 25px;
    border-radius: 100px;
    font-size: 20px;
    background: $color-blue;
    color: $color-white;
    box-shadow: 0 3px 3px rgba(0, 0, 0, .3);
}
button.btn-small {
    padding: 15px 20px 15px 20px;
    border-radius: 100px;
    font-size: 15px;
    background: $color-blue;
    color: $color-white;
    box-shadow: 0 3px 3px rgba(0, 0, 0, .3);
    text-transform: uppercase;
}
a.btn-plain {
    padding: 15px 20px 15px 0;
    font-size: 15px;
    text-transform: uppercase;
    font-family: $main-font;
}
input, .alert-input {
    width: 100%;
    padding: 20px 15px 20px 15px;
    border-radius: 100px;
    border: none;
    background: #119bad5d;
    color: #222;
    font-size: 20px;
    font-family: $main-font;
}
.alert-wrapper {
    border-radius: 20px !important;
    .alert-title, .alert-message {
        font-family: $main-font;
    }
    .alert-message {
        ul {
            padding-left: 0;
            list-style: none;
            margin: 0;
            li {
                margin-bottom: 10px;
                &:last-of-type {
                    margin-bottom: 0;
                }
            }
        }
    }
}