page-total-liquid-calculator {
    .scroll-content {
        padding: 40px 30px 0 30px !important;
        section {
            margin-bottom: 30px;
            transition: all .3s ease-in-out;
        }
        h5 {
            font-family: $main-font;
        }
        ion-range {
            padding-top: 0 !important;
        }
        input {
            text-align: center;
        }
        .nicokit-proportion {
            margin-top: 20px;
        }
        .flavours-section {
            .flavours-section-header {
                display: inline-block;
                width: 100%;
                h5 {
                    float: left;
                }
                a {
                    float: right;
                    padding-top: 0;
                }
            }
            p {
                display: block;
                width: 100%;
            }
            h6 {
                font-weight: 100;
                color: $color-grey;
            }
        
        }
    }
    .disabled {
        opacity: .3;
        pointer-events: none;
        transition: opacity .3s ease-in-out;
    }
}
