<ion-header
  [scrollHide]="headerScrollOptions"
  [scrollContent]="pageContent"
  class="animated-header"
>
  <ion-navbar color="transparent">
    <ion-title *ngIf="!isEditScreen">Calculadora (Líquido)</ion-title>
    <ion-title *ngIf="isEditScreen">Editar {{ liquid.name }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding #pageContent fullscreen>
  <section>
    <h5>Cantidad de líquido (ml)</h5>
    <input
      type="number"
      placeholder="mililitros"
      [(ngModel)]="liquidQuantity"
    />
  </section>

  <section>
    <h5>Base (%)</h5>
    <ion-range
      min="0"
      max="100"
      pin="true"
      [(ngModel)]="baseProportion"
      color="secondary"
      class="base-proportion"
    >
      <h6 range-left>VG</h6>
      <h6 range-right>PG</h6>
    </ion-range>
  </section>

  <section>
    <h5>Nicotina final (mg/ml)</h5>
    <ion-item>
      <ion-label>Nicotina total</ion-label>
      <ion-select [(ngModel)]="totalNicotine" interface="popover">
        <ion-option value="0">Sin nicotina</ion-option>
        <ion-option value="3">3 mg/ml</ion-option>
        <ion-option value="6">6 mg/ml</ion-option>
        <ion-option value="12">12 mg/ml</ion-option>
        <ion-option value="16">16 mg/ml</ion-option>
        <ion-option value="24">24 mg/ml</ion-option>
      </ion-select>
    </ion-item>
  </section>

  <section [ngClass]="{ disabled: totalNicotine === '0' }">
    <h5>Nicokits</h5>
    <ion-item>
      <ion-label>Concentración nicotina</ion-label>
      <ion-select [(ngModel)]="nicokitConcentration" interface="popover">
        <ion-option value="10">10 mg/ml</ion-option>
        <ion-option value="20">20 mg/ml</ion-option>
      </ion-select>
    </ion-item>

    <ion-range
      min="0"
      max="100"
      pin="true"
      [(ngModel)]="nicokitProportion"
      color="secondary"
      class="nicokit-proportion"
    >
      <h6 range-left>VG</h6>
      <h6 range-right>PG</h6>
    </ion-range>
  </section>

  <section class="flavours-section">
    <div class="flavours-section-header">
      <h5>Aromas</h5>
      <a class="btn-plain" (click)="onAddFlavourClick()">
        <ion-icon margin-right name="add"></ion-icon>
        Añadir aroma
      </a>
    </div>
    <div *ngIf="flavours?.length > 0">
      <ul *ngFor="let flavour of flavours">
        <li>
          <div>
            <h5>{{ flavour.name }}</h5>
            <h6>{{ flavour.brand }} - {{ flavour.proportion }} %</h6>
          </div>
          <button (click)="deleteFlavourFromCalc(flavour)">
            <ion-icon name="close-circle"></ion-icon>
          </button>
        </li>
      </ul>
    </div>

    <div *ngIf="flavours?.length <= 0">
      <h6>No has añadido ningún aroma aún</h6>
    </div>
  </section>

  <section *ngIf="!isEditScreen">
    <ion-checkbox color="primary" [(ngModel)]="saveToRecipeList"></ion-checkbox>
    <h6>Guardar en mi lista de líquidos</h6>
  </section>

  <section *ngIf="!isEditScreen">
    <button class="btn-small" (click)="createLiquid()">Calcular</button>
  </section>

  <section *ngIf="isEditScreen">
    <button class="btn-small" (click)="editLiquid()">Guardar</button>
  </section>
</ion-content>
