page-total-liquid-calculator {
    .scroll-content {
        padding: 40px 30px 0 30px !important;
        section {
            margin-bottom: 30px;
        }
        h5 {
            font-family: $main-font;
        }
        ion-range {
            padding-top: 0 !important;
        }
        input {
            width: 100%;
            padding: 20px 15px 20px 15px;
            border-radius: 100px;
            border: none;
            background: #119bad5d;
            color: #222;
            font-size: 20px;
            font-family: $main-font;
            text-align: center;
        }
        .nicokit-proportion {
            margin-top: 20px;
        }
        .flavours-section {
            h5 {
                float: left;
            }
            a {
                float: right;
                padding-top: 0;
            }
            p {
                display: block;
                width: 100%;
            }
        }
    }
}
