page-information {
    section {
        margin-top: 30px;
        margin-left: 30px;
        max-width: 80%;
        p {
            font-family: $main-font;
            color: $color-text;
            font-weight: 100;
            &.text-small {
                margin-top: 20px;
                font-size: 11px;
            }
        }
    }
}
