page-add-flavour-modal {
    div {
        display: block;
        text-align: center;
        ion-icon {
            font-size: 37px;
        }
    }
    h1 {
        margin-top: 80px;
    }
    section {
        margin-top: 15px;
        &:first-of-type {
            margin-top: 50px;
        }
    }
    input {
        text-align: center;
    }
}
