<ion-content padding>
  <div>
    <ion-icon name="close" (click)="closeModal()"></ion-icon>
  </div>

  <h1 *ngIf="!isEditModal">
    Añade tu aroma
  </h1>

  <h1 *ngIf="isEditModal">
    Editar {{ flavourName }}
  </h1>

  <section>
    <h5>Nombre <span *ngIf="!isEditModal">(Opcional)</span></h5>
    <input type="text" placeholder="nombre del aroma" [(ngModel)]="flavourName">
  </section>

  <section>
      <h5>Marca (Opcional)</h5>
      <input type="text" placeholder="marca del aroma" [(ngModel)]="flavourBrand">
  </section>

  <section>
      <h5>Proporción (%)</h5>
      <input type="number" placeholder="proporción del aroma" max=100 min=0 [(ngModel)]="flavourProportion">
  </section>

  <section *ngIf="!isEditModal">
    <ion-checkbox color="primary" [(ngModel)]="saveToList"></ion-checkbox>
    <h6>Guardar en mi lista de aromas</h6>
  </section>

  <section *ngIf="!isEditModal">
    <button class="btn-small" (click)="createFlavour()">Crear aroma</button>
  </section>

  <section *ngIf="isEditModal">
    <button class="btn-small" (click)="editFlavour()">Guardar</button>
  </section>
</ion-content>
