page-add-flavour-modal {
  div {
    display: block;
    text-align: center;
    ion-icon {
      font-size: 37px;
    }
  }
  h1 {
    margin-top: 40px;
  }
  h3.list-button {
    font-size: 20px;
    font-family: $main-font;
    text-transform: uppercase;
    font-weight: 900;
    background: rgba(17, 155, 173, 0.3);
    display: inline-block;
    color: $color-blue;
    padding: 5px 10px;
    border-radius: 3px;
    box-shadow: 0px 2px 2px 1px rgba(17, 155, 173, 0.1);
  }
  section {
    margin-top: 25px;
    &:first-of-type {
      margin-top: 37px;
    }
    &:last-of-type {
      margin-top: 30px;
    }
    ion-checkbox {
      margin-right: 10px;
      vertical-align: text-top;
    }
    h6 {
      margin: 0;
      display: inline-block;
    }
  }
  input {
    text-align: center;
  }
}
