page-add-flavour-modal {
  div {
    display: block;
    text-align: center;
    ion-icon {
      font-size: 37px;
    }
  }
  h1 {
    margin-top: 40px;
  }
  section {
    margin-top: 25px;
    &:first-of-type {
      margin-top: 37px;
    }
    &:last-of-type {
      margin-top: 30px;
    }
    ion-checkbox {
      margin-right: 10px;
      vertical-align: text-top;
    }
    h6 {
      margin: 0;
      display: inline-block;
    }
  }
  input {
    text-align: center;
  }
}
